* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}


.window {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 10%;
    top: -100%;
    resize: both;
    overflow: hidden;
    border-radius: 3px;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    z-index: 1;
    min-width: 50vh;
    min-height: 50vh;
}
.bar {
    position: relative;
    top: 0;
    margin-top: 0;
    width: 100%;
    background-color: #444;
    float: left;
}
.bar p {
    padding-left: 2vh;
}
.close {
    float: right;
    position: absolute;
    top: .5vh;
    right: 1vh;
    color: #AA0000;
    font-size: 3vh;
    transition: 0.2s;
}
.close:hover {
    color: #880000;
    cursor: pointer;
}
.body {
    padding: 2vh 2vh;
    width: 100%;
    height: 60%;
}
.apps {
    position: fixed;
    left: 0;
    top: 0;
    width: 5%;
    height: 100%;
    /*background-color: green;*/
    text-align: center;
}
.open {
    width: 90%;
    height: auto;
    background-color: white;
    border: none;
    padding: 0;
    margin-top: 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.open:hover {
    background-color: #A01010;
}

.wallpaper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    --background: url(background.png);
    background: var(--background);
    background-size: cover;
}

.wp-blur {
    width: 500%;
    height: 500%;
    filter: blur(10px) brightness(0.9);
    z-index: -2;
    background: var(--background);
    margin-left: -2vh;
}

.blur-container {
    width: 5%;
    height: 100%;
    position: fixed;
    float: left;
    overflow: hidden;
}

.settingLabel {
     float: left;
     font-size: 2vh;
}
.settingInput {
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 2vh;
    width: 40vh;
}
.settingSave {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    transition: .5s;
    font-size: 2vh;
    padding: 2vh 3vh;
    background-color: #117711;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.settingSave:hover {
    background-color: #225522;
}
.settingButton {
    position: absolute;
    top: 15vh;
    left: 1vh;
    transition: .5s;
    font-size: 2vh;
    padding: 1vh 2vh;
    background-color: #AAA;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.settingButton:hover {
    background-color: #777;
}
#name {
    width: 90%;
    float: left;
    font-size: 2vh;
    margin-top: 1vh;
}
  

.content {
    padding: 2vh 2vh;
    width: 90%;
    height: 90%;
}
#code {
    width: 30%;
    height: 100%;
    resize: horizontal;
    font-size: 2vh;
    margin-top: 3vh;
    padding: 1vh 1vh;
}
#js {
    width: 30%;
    height: 100%;
    resize: horizontal;
    font-size: 2vh;
    margin-top: 3vh;
    padding: 1vh 1vh;
}
#css {
    width: 30%;
    height: 100%;
    resize: horizontal;
    font-size: 2vh;
    margin-top: 3vh;
    padding: 1vh 1vh;
}
.button {
    background-color: green;
    border: none;
    padding: 1vh 1vh;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 2vh;
}
.button:hover {
    background-color: #005500;
}

#htmlBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999999999;
    background-color: white;
    display: none;
}

.file {
    background-color: white;
    position: fixed;
    width: 5vh;
    height: 7vh;
    z-index: -1;
}